

input{
  text-transform: capitalize;
}
textarea{
  text-transform: capitalize;
}
 form {
  padding: 15px;
  min-width: 437px;
  display: flex;
  flex-wrap: wrap; 
}

/*.form-control
  {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 5px; 
  }*/
  .form-group {
    display: flex;
    flex-direction: column; /* Arrange form elements vertically */
    align-items: center; /* Center elements horizontally */
  }
  
  .form-control {
    width: 100%; /* Make form controls full width */
    margin-bottom: 15px; /* Add spacing between controls */
  }
    
  ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
  }
  
  li {
    position: relative; 
    padding-left: 20px; 
    text-indent: -20px; 
  }
  
  li::before {
    content: "•"; 
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 14px; 
    color: #333; 
  }

  .form-group.col-12.d-flex.justify-content-center.align-items-center {
  padding: 20px; 
}



@media (max-width: 768px) {
  .table {
    width: 100%; 
  }
  .table th,
  .table td {

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 5px; 
  }
  
  form {
    /* width: 100%; */
    padding: 15px;
    display: flex;
    min-width: 437px;
    flex-wrap: wrap; 
  }
  .form-control,
  #qrcode {
    white-space: nowrap; 
    overflow: hidden;
    /* width: 60%; */
    margin-top: 15px;
  }
  
}


@media (max-width: 320px) {
  
  .table th,
  .table td {

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 5px; 
  }
  form {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .form-control,
  #qrcode {
    white-space: nowrap; 
    overflow: hidden;
    width: 60%;
    margin-top: 15px; }

 
}