
#container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

input{
  text-transform: capitalize;
}
textarea{
  text-transform: capitalize;
}
.table {
  width: 100%;
  min-width: 593px;
  table-layout: auto;
}
@media (max-width: 768px) {
  table {
    width: 100%;
  min-width: 593px;
  table-layout: fixed;
  }
}
