
/* #container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
} */

input{
  text-transform: capitalize;
}
textarea{
  text-transform: capitalize;
}
/* .table {
  width: 100%; 
}
.table th,
.table td {

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
} */



@media (max-width: 768px) {
  .table {
    width: 100%; 
  }
  .table th,
  .table td {

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 5px; 
  }
}

@media (max-width: 400px) {
  .table {
    width: 100%; 
  }
  .table th,
  .table td {

    white-space: nowrap; 
    overflow-x: auto; 
    text-overflow: ellipsis; 
  }
}