<div class="d-flex w-100 h-100" ng-controller="AddControler">
  <div class="w-100 h-100 p-5">
    <div class="card-body flex justify-content-center">
            <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card flex justify-content-center">
                    <div class="container formCRUD" >
                      <h4 class="headerTitle">Tareas </h4>
                      <hr class="hrTitle">
                      <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" ng-click="returnToList()" title="Regresar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                        </svg> Regresar</button>
                        <button class="btn btn-info" ng-click="save()" title="Guardar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                          <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                          <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                        </svg>Guardar</button>
                        
                      </div>
                    </div>
                  
                  <div  class="card-body justify-content-center">
                    <form class="form-group" [formGroup]="form" name="form" (ngSubmit)="onSubmit()" >
                      <div class="form-group col-12">
                        <label class="form-label">Id:</label>
                        <div class="input-group">
                          <input type="text" class="form-control shadow-none" ng-model="task.id" maxlength="50" readonly>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Nombre de la Tarea:</label>
                        <div class="input-group">
                          <input pInputText type="text" class="form-control" ng-model="task.title" maxlength="50" required>
                          <span style="color:red" ng-show="form.title.$error.required"></span>
  
                        </div>
                      </div>
  
                      <div class="form-group col-12">
                        <label class="form-label">Descripción:</label>
                        <div class="input-group">
                          <input pInputText type="text" class="form-control" ng-model="task.description" maxlength="50" required>
                          <span style="color:red" ng-show="form.description.$error.required"></span>
  
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Fecha Limite:</label>
                        <div class="input-group">
                            <input type="date" id="dateLimit" name="trip-start" min="today" class="form-control" ng-model="task.dateLimit" required/>                      
                            <span style="color:red" ng-show="form.dateLimit.$error.required"></span>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Prioridad:</label>
                        <div class="input-group">
                            <select  class="form-control" ng-model="task.priority" ng-options="priority for priority in priorities" required>
                                <option value="">-- Seleccionar prioridad --</option>
                                <option value="baja">Baja</option>
                                <option value="media">Media</option>
                                <option value="alta">Alta</option>
                              </select>
                              <span style="color:red" ng-show="form.priority.$error.required"></span>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <button class="btn btn-primary" name="Cancel" ng-click="returnToList()">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

