<div class="d-flex w-100 h-100">
  <div class="w-100 h-100 p-5">
    <div class="card-body flex justify-content-center">
            <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card flex justify-content-center">
                    <div class="container formCRUD" >
                      <h4 class="headerTitle">Tareas </h4>
                      <hr class="hrTitle">
                      <div class="d-flex justify-content-between">
                        <button ng-click="returnToList()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                        </svg></button>
                        <button class="bi bi-plus-circle" ng-click="save()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                          <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                          <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                        </svg></button>
                        
                      </div>
                    </div>
                  
                  <div  class="card-body">
                    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="form-group col-12">
                        <label class="form-label">Id:</label>
                        <div class="input-group">
                          <input type="text" class="form-control shadow-none" formControlName="id" maxlength="50" readonly>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Descripción:</label>
                        <div class="input-group">
                          <input pInputText type="text" class="form-control" formControlName="name" maxlength="50" required>
  
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Fecha Limite:</label>
                        <div class="input-group">
                            <input type="date" id="start" name="trip-start" value="today" />                      
   
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="form-label">Prioridad:</label>
                        <div class="input-group">
                            <select ng-model="selectedPriority" ng-options="priority for priority in priorities">
                                <option value="">-- Seleccionar prioridad --</option>
                                <option value="baja">Baja</option>
                                <option value="media">Media</option>
                                <option value="alta">Alta</option>
                              </select>
              
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <button class="btn btn-primary" name="Cancel" (click)="returnToList()">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

