<div class="row">
    <div class="col-12 text-center">
        <img src="./img/logofinaljesstore.jpg" alt="logo" class="mb-4">

        <div class="form-group col-12">

            <h1>¡Gracias por tu donativo!</h1>

            <p>Tu generosidad nos permite financiar proyectos y suministrar herramientas de nuevas tecnologías para
                programación gratuitas a personas que lo necesitan.</p>

            <!-- 
    <div class="donation-details">
      <h2>Detalles de tu donativo:</h2>
      <p>Nombre: {{ donation.name }}</p>
      <p>Correo electrónico: {{ donation.email }}</p>
      <p>Cantidad: {{ donation.amount }}</p>
    </div> -->

            <p>Tu donativo es fundamental para:</p>

            <ul>
                <li>Crear cursos y tutoriales en línea de programación.</li>
                <li>Desarrollar herramientas de código abierto para la comunidad de programación.</li>
                <li>Organizar talleres y eventos de programación gratuitos.</li>
                <li>Brindar becas a estudiantes de programación.</li>
            </ul>

            <p>Gracias a tu apoyo, podemos seguir empoderando a las personas con el conocimiento y las herramientas que
                necesitan para tener éxito en el mundo digital.</p>

            <p>¡Comparte tu experiencia con tus amigos y familiares para que ellos también puedan unirse a la causa!</p>

        </div>
    </div>
</div>

<!-- <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="campaign_id" value="PUB4589JTGUAQ" />
    <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="3" height="3" />
    </form> -->