<div class="d-flex w-100 h-100 " ng-controller="AddControler">
    <div class="w-100 h-100 p-5 justify-content-center align-items-center">
      <div class="card-body flex justify-content-center">
              <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card flex justify-content-center align-items-center">
                      <div class="container formCRUD" >
                        <h4 class="headerTitle">Generador de Qr </h4>
                        <hr class="hrTitle">
                      </div>
                      <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" ng-click="returnToList()" title="Regresar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                        </svg> Regresar</button>
                        <!-- <a class="btn btn-info ml-2" href="https://paypal.me/jessjnoc?country.x=ES&locale.x=es_ES" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paypal" viewBox="0 0 16 16">
                          <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z"/>
                        </svg>Donar -->
                        <div class="paypal-button-container" id="paypal-button-container"></div>
                      </a>                       
                        
                      </div>
                    
                    <div class="card-body justify-content-center">
                      <form class="form-group" [formGroup]="qrForm" name="qrForm" >

                        <div class="form-group col-12">
                          <label class="form-label">Url:</label>
                          <div class="input-group">
                            <input pInputText id="text" type="text" class="form-control" value="https://cvjess.000webhostapp.com/" ng-model="qr.url" maxlength="50" placeholder="Coloca tu url aqui" required>
                            <span class="input-group-addon clear-icon" style="display: none;">X</span>
    
                          </div>
                        </div>
                        <div class="form-control col-8 justify-content-center">
                          <div class="form-control col-12 justify-content-center" id="qrcode"></div>
                          <br>
                          <!-- <div class="form-control"id="elementH"></div> -->
                        </div>
                          <!-- <button ng-click="pay()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paypal" viewBox="0 0 16 16">
                            <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z"/>
                          </svg>Donar
                          </button>            -->                     
                        <!-- https://paypal.me/jessjnoc?country.x=ES&locale.x=es_ES -->
<!--  
                        <div class="form-group col-12 d-flex justify-content-center">
                          
                          <div class="paypal-button-container" id="paypal-button-container">
                           <br>                          
                          
                        </div>  -->
                        <div class="form-group col-12 d-flex justify-content-center align-items-center">
                          
                            <button class="btn btn-primary" ng-click="makeCode()" title="Genrar Qr"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                            <path d="M2 2h2v2H2z"/>
                            <path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"/>
                            <path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"/>
                            <path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"/>
                            <path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"/>
                          </svg>Generar</button>
                          <button class="btn btn-warning ml-2" ng-click="returnToList()">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
