<div class="card">
    <div class="w-100 h-100 p-5">
      <div class="d-flex justify-content-end">
        <button class="bi bi-plus-circle" ng-click="saveTask()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg></button>
        <button ng-click="deleteData()" ng-disabled="!selected.length"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg></button>
      </div>
    <h4 class="header">Tareas</h4>
    <hr class="hrTitle">
    <caption>
      <div class="d-flex justify-content-between pe-5">
        <span class="input-group-append">
          <i class="bi bi-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></i> <input type="text" class="form-control" ng-model="searchText" ng-keyup="filterTasks($event.target.value)" placeholder="Buscar la palabra clave">
        </span>
        
      </div>
    </caption>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <span class="input-group-append">
                <i class="bi bi-search"></i> 
                <input type="checkbox" ng-model="selectAll" ng-change="onTaskSelect()">
              </span>
              
            </th>
            <th scope="col">Acciones</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre de la Tarea</th>
            <th scope="col">Descripción de la Tarea</th>
            <th scope="col">Fecha Límite</th>
            <th scope="col">Prioridad</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in tasks | filter:searchText:strict">
            <td ng-click="onTaskSelect(task)">
              <input type="checkbox" ng-model="task.selected">
            </td>
            
            <td>
              <button type="button" class="btn btn-sm btn-light" ng-click="editTask(task.id)">
                <i class="pi pi-pencil"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg></i>
              </button>
            </td>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.dateLimit | date}}</td>
            <td>{{ task.priority }}</td>
          </tr>
          <tr ng-show="tasks.length === 0">
            <td colspan="7">No se encuentran tareas</td>
          </tr>
        </tbody>
      </table>
      <div class="h-100 d-flex justify-content-center align-items-center" ng-show="tasks.length === 0">
        <div>
          <h6>No hay tareas registradas</h6>
        </div>
      </div>
    </div>
  </div>
</div>

